html {
  background-color: #40798c;
}

html > * {
  color: #000000;
  font-family: "Righteous";
  font-weight: 400;
  font-style: normal;
}

#screen {
  max-width: 600px;
  margin: 10px auto;
  height: calc(100% - 45px);
  padding: 10px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  height: 100%;
}

#search {
  border-radius: 20px;
  text-align: center;
  border: 3px solid #000000;
  border-width: 3px 8px 8px 3px;
  font-size: 24px;
  font-weight: bolder;
  min-height: 50px;
  width: 100%;
  /* search icon */
  background-image: url(images/search_icon_dark.svg);
  background-repeat: no-repeat;
  background-position: 15px 50%;
  background-size: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

#food-edit-name {
  border-radius: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  min-height: 50px;
  width: 100%;
}

.page-button {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  background: white;
  cursor: pointer;
}

#settings-screen {
  text-align: center;
}

#food-log-screen {
  justify-content: flex-start;
}

#food-log-wrapper {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.food-log-items-wrapper.flex-items {
  display: flex;
  gap: 10px;
  overflow: auto;
  margin-bottom: 4px;
}
.food-log-items-wrapper.grid-items {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: auto;
  margin-bottom: 4px;
}

.food-log-items-wrapper.flex-items > .food-button {
  width: 150px;
  min-height: 60px;
  height: 100%;
  min-width: 120px;
}

.grid-search-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr auto;
}

#grid-food-items-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  overflow: auto;
  /* icon */
  background-image: url(images/spiky_bite_transparent.svg);
  background-repeat: no-repeat;
}

.grid-log-item-wrapper {
  display: grid;
  gap: 10px;
}

#api-key-input {
  border-radius: 20px;
  padding: 4px 8px;
}

.food-button {
  border-radius: 30px;
  border: 3px solid #000000;
  border-width: 3px 8px 8px 3px;
  height: 100%;
  cursor: pointer;
  transition: all 0.1s;
  padding: 10px;
}
.food-button > div {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.food-button:hover {
  border-width: 8px 3px 3px 8px;
  box-shadow: inset #08080075 5px 5px 0px;
}
.food-button:nth-child(1) {
  animation-delay: 0.02s;
}
.food-button:nth-child(2) {
  animation-delay: 0.04s;
}
.food-button:nth-child(3) {
  animation-delay: 0.06s;
}
.food-button:nth-child(4) {
  animation-delay: 0.08s;
}
.food-button:nth-child(5) {
  animation-delay: 0.1s;
}
.food-button:nth-child(6) {
  animation-delay: 0.12s;
}
.food-button:nth-child(7) {
  animation-delay: 0.14s;
}
.food-button:nth-child(8) {
  animation-delay: 0.16s;
}
.food-button:nth-child(9) {
  animation-delay: 0.18s;
}
.food-button:nth-child(10) {
  animation-delay: 0.2s;
}
.food-button:nth-child(11) {
  animation-delay: 0.22s;
}
.food-button:nth-child(12) {
  animation-delay: 0.24s;
}
.food-button:nth-child(13) {
  animation-delay: 0.26s;
}
.food-button:nth-child(14) {
  animation-delay: 0.28s;
}
.food-button:nth-child(15) {
  animation-delay: 0.3s;
}
.food-button:nth-child(16) {
  animation-delay: 0.32s;
}
.food-button:nth-child(17) {
  animation-delay: 0.34s;
}
.food-button:nth-child(18) {
  animation-delay: 0.36s;
}
.food-button:nth-child(19) {
  animation-delay: 0.38s;
}
.food-button:nth-child(20) {
  animation-delay: 0.4s;
}
.food-button:nth-child(21) {
  animation-delay: 0.42s;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  border-radius: 30px;
  border: 3px solid #000000;
  border-width: 3px 8px 8px 3px;
  cursor: pointer;
  font-family: "Righteous";
  transition: all 0.05s;

  /* used for the trash goal button, but shouldn't impact other buttons */
  min-height: 48px;
  min-width: 48px;
}
button:hover {
  border-width: 8px 3px 3px 8px;
  box-shadow: inset #08080075 5px 5px 0px;
}
button.danger {
  background-color: #ff8686;
}

input {
  font-family: "Righteous";
  border: 3px solid #000000;
  border-width: 3px 8px 8px 3px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

.goal-input-wrapper {
  display: grid;
  gap: 5px;
  grid-template-columns: 4fr 1fr;
}

#goals-settings-container {
  display: grid;
  gap: 5px;
  padding: 5px;
}

.goal-input-wrapper > input {
  width: 100%;
  border: 3px solid #000000;
  border-radius: 8px;
  height: 100%;
}

#goal-add-button {
  width: calc(100% - 140px);
  border: 3px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  font-size: larger;
}
#goal-tracker {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-right: 10px;
}
.goal-tracker-item {
  height: 20px;
  width: 100%;
  border: 3px solid #000000;
  border-radius: 8px;
  border-width: 3px 8px 8px 3px;
}
.goal-tracker-fill {
  height: 12px;
  border-radius: 8px;
  margin-top: 4px;
  margin-left: 4px;
}
.goal-tracker-target {
  position: relative;
  height: 20px;
  top: -16px;
}

#cancel-button,
#save-button,
#remove-button,
#save-new-button {
  border-radius: 15px;
  min-height: 60px;
  margin-bottom: 5px;
  font-size: 18px;
}

.button-row#food-item-edit-button-row {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.button-row#food-item-save-button-row {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

#save-button {
  background-color: #85ffff;
}

#save-new-button {
  background-color: #85afff;
}

#nutrition-edit {
  text-align: center;
  overflow-y: auto;
}

#nutrition-edit > div {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
  margin: 0px 20px;
  margin-top: -8px;
}

#nutrition-edit > div:nth-child(1) {
  margin-top: 0px;
}

#nutrition-edit > div > input {
  width: 100%;
  border-radius: 0px;
}

#nutrition-edit > div:nth-child(1) > input {
  border-radius: 8px;
}

#grid-food-items-spinner {
  overflow: hidden;
}
#grid-food-items-spinner > img {
  width: 100%;
  max-height: 100%;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.date-label {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  width: 100%;
}

#clear-data-options-wrapper {
  display: flex;
  justify-content: center;
  height: 50px;
  gap: 10px;
  margin-top: 24px;
}

#clear-data-options-wrapper > button {
  width: 160px;
}

#no-food-log-items {
  overflow: hidden;
}

#food-log-top-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#food-edit-amount-wrapper {
  display: grid;
}

#unit {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 16px;
  text-align: right;
  transform: translate(-32px, -32px) !important;
  pointer-events: none;
}

#food-edit-amount-options {
  display: flex;
  gap: 10px;
  min-height: 50px;
  overflow-x: auto;
}

#food-edit-amount-options > button {
  padding: 10px;
  min-width: 100px;
}

@keyframes pop-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

* {
  animation-name: pop-in;
  animation-fill-mode: both;
  animation-duration: 0.1s;
  scrollbar-color: #000 #00000000;
  scrollbar-width: thin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
